@import "antd/dist/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

/* Custom styles for Ant Design components */
.ant-tree {
  background: transparent;
}

.ant-layout-sider {
  background: white !important;
}

.ant-layout-header {
  line-height: normal !important;
  height: auto !important;
  padding: 1rem !important;
}

.ant-tree-list {
  padding: 0 !important;
}

.ant-tree-switcher-noop {
  width: 0.75rem !important;
}

/* Modal styles */
.create-queue-modal .ant-modal-footer {
  border-top: 1px solid #f0f0f0;
  padding: 12px 16px 8px 16px;
  margin: 0 0 -8px 0;
}

.create-queue-modal .ant-collapse {
  margin: 0;
}

.create-queue-modal .ant-collapse-item {
  border: none;
}
