@import "antd/dist/reset.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-50;
}

/* Custom styles for Ant Design components */
.ant-tree {
  background: transparent;
}

.ant-layout-sider {
  background: white !important;
}

.ant-layout-header {
  line-height: normal !important;
  height: auto !important;
  padding: 1rem !important;
}

.ant-tree-list {
  padding: 0 !important;
}

.ant-tree-node-content-wrapper {
  padding: 0 !important;
}

.ant-tree-switcher-noop {
  width: 0.75rem !important;
}

.ant-tree-title {
  padding: 0 0.5rem !important;
}
